<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main layout:fragment="contenu">
        <div>
            <form th:action="@{/projectDetail(project=${projectName})}" method="post" th:object="${newStory}">
                
                    <input type="text" th:field="*{title}" th:errorclass="errorField"  placeholder="entrez le titre">
                    <span th:errors="*{title}" class="errorMsg"></span><br/>
    
                    <input type="text" th:field="*{estimate}" th:errorclass="errorField"  placeholder="estimation de Point">
                    <span th:errors="*{estimate}" class="errorMsg"></span><br/>
                
                <div>
                    <button type="submit">SEND</button>
                </div>
    
            </form>
    

        </div>
     </main>
</body>
</html>