<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{style.css}" href="../static/css/style.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.js"></script>
    <title>Document</title>
</head>
<body>
        <header >
            <h1 th:text="#{program}">programme annuel des etudiants
                <!-- <img th:src="@{resources/images/HE2B-Logo-ESI.jpg}"/> -->
            </h1>
            <h2>HE2B-ESI / WEBG5 / DZF / 2021-2022</h2>
          
        </header>
    <div class="div">
        <nav>
            <ul>
            <li><a th:href="@{/welcome}"th:text="#{accueil}">Home</a> </li>
        <li>  <a th:href="@{/private/courses}" th:text="#{lecour}">Courses</a></li>
    <li>  <a th:href="@{/private/students}" th:text="#{letudiant}">Students</a></li>
</ul>
        </div>
        <div >
            <select id="mesLangues">
                <option th:value="choice">
                <span  th:text="langue"></span>
            </option>
                  <option th:value="fr">
                        <span  th:text="francais"></span>            
                </option>             
                    <option th:value="en">
                        <span  th:text="english"></span>
                    </option>
            </select>
        </div>
      </nav>
    
    </div>
    <script>
        $(document).ready(function() {
            $("#mesLangues").change(function () {
                var selectedOption = $('#mesLangues').val();
                if (selectedOption != "choice"){
                    window.location.replace('translate?lang=' + selectedOption);
                }
            });
        });
        </script>
        <main layout:fragment="contenu">

        </main>
        
</body>
</html>